<article>
    <h3>Welcome to your world guide book!</h3><br><br>
    <p>Your world guide book is a tool to help you gather some essential information on any country in the world, including: Languages, Population, Currencey, and Country Capitol.</p><br>
    <p>To get started, click the "Browse Countries" button below and select your desired country from the table. You will also have the option to search for a country by name or by country code.</p><br>
</article>
<a ng-href="#/countries"><button>Browse Countries</button></a>